/* .bg {
    background-image: url(https://covid19.tijuana.gob.mx/assets/images/info3.jpg);
} */

.bg-fondo {
    margin-left: 50px;
    justify-content: center;
    width: 430px;
    height: 799px;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .bg-fondo {
        margin-left: -14px;
        width: 480px;
        height: 799px;
    }
}

@media only screen and (min-width: 1950px) {
    .bg-fondo {
        margin-left: -14px;
        width: 550px;
        height: 799px;
    }
}