<div class="container ">

    <div class="row justify-content-center fila-padre">
        <div class="row align-items-center justify-content-center fila1">
            <div class="col-12  ">
                <p>BANNER</p>
            </div>
            <div class="row  justify-content-center fila-img ">
                <div class="col-3 columna">
                    <img src="./../../../../assets/USER.jpg" alt="" width="232" height="232" class="rounded-circle me-2  ">
                </div>
                <div class="row  justify-content-start fila-datos">
                    <div class="col-3 columna-datos">
                        <h2>NOMBRE:</h2>
                        <P>Correo</P>
                        <p>Telefono</p>

                    </div>
                </div>
            </div>

        </div>

        <div class="row  fila-datos-personales border-top border-2 border-dark">

            <p style="text-align: center;">DATOS PERSONALES </p>

            <div class="col-6  columna-datos-personales">
                <label for="Nombre">Nombre: Usiel Orihuela Monroy</label>
                <p>Genero: Hombre</p>
                <p>Edad: 22</p>
                <p>Peso: 60kl</p>
                <p>Altura: 1.70</p>
                <p>Enfermedades: </p>

            </div>
            <div class="col-6 columna-datos-personales">
                <label for="Telefono">Telefono: +52 55 67 54 85 68</label>
                <p>Correo: usiel@tese.edu.mx</p>
                <p>Estado: Mexico</p>
                <p>Nacionalidad: Mexicano</p>
                <P>Dosis aplicadas: sputnik v</P>

            </div>
        </div>


    </div>

</div>