.nav {
    width: 250px;
    height: 100vh;
    position: static;
    /* background-color: aqua; */
    margin-left: -12px;
}

.fz {
    font-size: 25px;
}

.bg-sidbar {
    background-color: #ECF6FE;
}