<div class="container-fluid ">

    <div class="row">
        <div class="col-2 bg-sidbar ">

            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-sidbar" style="width: 280px;">
                <div class="text-center">
                    <img src="https://github.com/mdo.png" alt="" width="138" height="138" class="rounded-circle me-2 ">


                </div>

                <hr>
                <nav class="nav nav-pills flex-column mb-auto" id="navigation" role="tablist">

                    <a href="#contenido-Inicio" class="nav-link " data-bs-toggle="tab" role="tab" aria-selected="true" id="inicio-tab" aria-controls="contenido-Inicio"> Recomendaciones</a>


                    <a href="#contenido-Servicio" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false" id="servicios-tab" aria-controls="contenido-Servicio">Que hacer si tengo covid </a>

                    <a href="#contenido-Blog" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false" id="blog-tab" aria-controls="contenido-Blog">Cuento cuesta una consulta</a>

                    <a href="#contenido-Contacto" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false" id="contenido-tab" aria-controls="contenido-Contacto">Que necesito para hacer la consulta</a>

                    <a href="#contenido-Laboratorios" class="nav-link" data-bs-toggle="tab" role="tab" aria-selected="false" id="laboratorio-tab" aria-controls="coontenido-laboratorios">Que laboratorios puedo consultar</a>
                </nav>


            </div>



        </div>


        <div class=" col-10 justify-content-start bg-white text-center">
            <div class="conatiner">

                <div class="tab-content " id="contenido-nav">
                    <div class="tab-pane fane show active" role="tab" id="contenido-Inicio" aria-labelledby="inicio-tab">
                        <h2>RECOMENDACIONES</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aspernatur odit commodi possimus ipsa at minima, eaque quisquam facilis sint consequuntur ut esse quis? Eaque nam quos autem, temporibus dolores, officiis fugit impedit
                            aliquid corporis, rem odio recusandae ipsam consequatur ducimus alias maiores deserunt. Commodi voluptatibus praesentium consequuntur adipisci ex.</p>
                    </div>
                    <div class="tab-pane fane" role="tab" id="contenido-Servicio" aria-labelledby="servicios-tab">
                        <h2>QUE HACER SI TENGO COVID</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aspernatur odit commodi possimus ipsa at minima, eaque quisquam facilis sint consequuntur ut esse quis? Eaque nam quos autem, temporibus dolores, officiis fugit impedit
                            aliquid corporis, rem odio recusandae ipsam consequatur ducimus alias maiores deserunt. Commodi voluptatibus praesentium consequuntur adipisci ex.</p>
                    </div>
                    <div class="tab-pane fane" role="tab" id="contenido-Blog" aria-labelledby="blog-tab">
                        <h2>COSTOS</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aspernatur odit commodi possimus ipsa at minima, eaque quisquam facilis sint consequuntur ut esse quis? Eaque nam quos autem, temporibus dolores, officiis fugit impedit
                            aliquid corporis, rem odio recusandae ipsam consequatur ducimus alias maiores deserunt. Commodi voluptatibus praesentium consequuntur adipisci ex.</p>
                    </div>
                    <div class="tab-pane fane" role="tab" id="contenido-Contacto" aria-labelledby="contenido-tab">
                        <h2>QUE NECESITO PARA HACER LA CONSULTA</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aspernatur odit commodi possimus ipsa at minima, eaque quisquam facilis sint consequuntur ut esse quis? Eaque nam quos autem, temporibus dolores, officiis fugit impedit
                            aliquid corporis, rem odio recusandae ipsam consequatur ducimus alias maiores deserunt. Commodi voluptatibus praesentium consequuntur adipisci ex.</p>
                    </div>

                    <div class="tab-pane fane" role="tab" id="contenido-Laboratorios" aria-labelledby="laboratorio-tab">
                        <h2>Que laboratorios puedo consultar</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maiores impedit corporis quibusdam, ratione quos dolor nihil debitis hic libero architecto est atque ducimus nulla a ad sit! Quam dolorem mollitia commodi natus
                            perspiciatis officiis odit nobis? Blanditiis quaerat ea ipsam! Quaerat repudiandae, explicabo quae officiis est voluptatem quibusdam quam, non rerum saepe distinctio? Unde sed vero rerum ab, nulla enim veritatis mollitia hic
                            porro odio accusamus modi illo, natus sint ullam? Aliquid quae soluta magnam molestias in quam, iure architecto sapiente impedit ratione vero reiciendis quo ea necessitatibus illo dignissimos, ipsum magni commodi accusantium
                            unde rerum tempore nesciunt velit maiores. Omnis harum excepturi consequatur? Corporis suscipit odio iure facilis distinctio nemo tempore totam, fugit expedita consequuntur sunt a. Laboriosam doloremque soluta placeat fuga
                            possimus? Blanditiis, error magni ipsam rerum accusantium ipsa unde veritatis molestiae? Ipsum, expedita. Rerum mollitia rem odit reiciendis eum corporis, illo illum exercitationem, tempora iste suscipit.</p>

                    </div>

                </div>
            </div>


        </div>
    </div>

</div>