<div class="container">
    <h2>Signos Vitales</h2>
    <div class="row">
        <p>Oxigeno: </p>
        <p>Frecuencia Cardiaca: </p>
        <p>Presion: </p>

        <p>Tome una foto de su lengua donde se pueda ver con claridad </p>
        <div class="col-3">
            <button>Subir Foto</button>
        </div>
        <div class="row p-3">
            <div class="col-3">
                <button class="btn btn-danger">Sincronizar datos</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary">Mandar informe </button>
            </div>
        </div>


    </div>
</div>