<nav class="navbar navbar-expand-lg navbar-dark bg-navbar  justify-content-between">
    <!-- Brand -->
    <a href="" class="navbar-brand">
        <img src="./src/ING5.jpg" alt="LOGOCOVID" loading="lazy" class="navbar-brand__img">
    </a>

    <!-- Button Collapse -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#contenido-nav" aria-controls="contenido-nav" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
</button>

    <!-- Contenido -->
    <div class="collapse navbar-collapse  flex-grow-0" id="contenido-nav">

        <ul class="navbar-nav ms-auto ">

            <li class="nav-item">
                <a href="user/inicio" class="nav-link active">Inicio </a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link">Consulta </a>

            </li>

            <li class="nav-item">
                <a href="" class="nav-link">Historial </a>

            </li>
        </ul>

    </div>

    <div class="text-start">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2 ">


    </div>

</nav>